.split_screen {
    display: table;
    width: 100%;
}

.main_logo {
    display: table-cell;
    vertical-align: middle;
}

.powered_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}