<ion-content>
    <div class="black-bg h-100 split_screen ion-text-center">
        <div class="main_logo">
            <img src="../../assets/hotfocus-logo.svg" height="122" width="100">
        </div>
    </div>
    <div class="powered_text ion-text-center">
        <p class="inter grey-text fw-normal font-12 line-height-18">Powered by <br><b>Victor Path Private Limited</b> </p>
    </div>
</ion-content>