.app-intro {
    background: url(../../assets/app-intro-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.app-intro::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.53) 37.5%, #000000 96.35%);
    content: '';
}