/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// background color
:root {
    --dark-bg: #000;
    --grey-text: #727272;
    --text-white: #fff;
}

.black-bg {
    background-color: var(--dark-bg);
}

.text-white {
    color: var(--text-white);
}

.grey-text {
    color: var(--grey-text);
}

.h-100 {
    height: 100%;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
.inter {
    font-family: 'Inter', sans-serif;
}

.fw-normal {
    font-weight: 400;
}

.fw-bold {
    font-weight: 700;
}

.font-12 {
    font-size: 12px;
}

.font-35 {
    font-size: 35px;
}

.line-height-38 {
    line-height: 38px;
}

.line-height-18 {
    line-height: 18px;
}